*{
    font-family: 'Times New Roman', Times, serif;
}
.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: black;
    font-size: 70px;
}
.header{
    background-image: url(../Images/Background_image.png);
    height: 150vh;
    background-size: cover;
    background-position: cover;
    
}
.logo img{
    float: left;
    height: "auto";
    width: "150px";  
    border-radius: 20vh;
    padding: 10px;
}
ul{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    list-style-type: none;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition-timing-function: ease-in;
}
ul li a:hover{
    background-color: black;
    color: wheat;
}

ul li.active a{
    background-color: black;
    color: wheat;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 10vh;
  }
  #project{
    align-content: center;
    text-align: center;
}
h1{
    color: black;
    font-size: 70px;
}
form {
    
    width: 450px;
    padding: 1em;
    border-style: groove;
    border-color: black;
    border-radius: 1em;
    background-color: black;
    color: white;
}
.midbar{
    display: flex;
    justify-content: center;

}
input, textarea {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999; 
}
input:focus, textarea:focus {
    border-color: #000;
}
div+div {
    margin-top: 1em;
}
label span {
    display: inline-block;
    width: 150px;
    text-align: left;
    color: white;
    margin-left: 15px;
}
label abbr, p abbr {
    color: red;
}
p{
    color: white;
}
#qualification{
    width: 450px;
    box-sizing: border-box;
    margin-left: 0px;
    border: 1px solid #999;
    color: white;
    height: 160px;
    padding-top: 0px;
}
#degree{
    font: 1em sans-serif;
    width: 238px;
    box-sizing: border-box;
    border: 1px solid #999; 
}
#comp_name{
    width: 230px;;
}
input.radio {
    width: 30px;
}
.radio_set{
    margin-top: 7px;
    margin-left: 3px;
}
.radio_set label span{
    width:70px;
}
.radio_set input {
    margin-right: -7px;
    margin-top: 6px;
}
.query label span {
    width:auto;
}
.query{
    width: 350px;
}

textarea{
    vertical-align: top;
    height: 4em;
    resize: vertical;
    width: 270px;
}
.query textarea{
    width: 270px;

}
.block{
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}



